
/*CSS ANIMATIONS*/

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  cursor:pointer;
}





* {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

html, body, #root, .App {
  max-width: 100%;
  overflow-x: hidden;
  background-color:black;
}

a, a:visited {
  color: #FFFFFF;
	text-decoration: none;
  transition: color .2s;
}

a:hover {
  transition: color .2s;
  color: #c55;
}


.App {
  text-align: center;
}

.App-Disclaimer {
  z-index: 1000;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height:150px;
  width:150px;
  background-image: url(./disclaimer.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Diamond {
  height:600px;
  width:600px;
  position:fixed;
  top:0px;
  left:0px;
  background-image: url(./site-chained-diamond.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Skateboard {
  height:1500px;
  width:500px;
  top:0px;
  right:0px;
  position:absolute;
  background-image: url(./site-hanging-skate.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom:50px;
}

.App-BigBox {
  z-index:999;
  position:relative;
  margin: auto;
  margin-top:150px;
  text-align: center;
  height:500px;
  display:block;
  width:500px;
  background-image: url(./site-bigbox.png);
  background-size: cover;
}

.App-Creature {
  position:absolute;
  bottom:0px;
  z-index:999;
  height:425px;
  width:425px;
  background-image: url(./site-creature.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Project {
  z-index:999;
  position:relative;
  margin: auto;
  text-align: center;
  height: 200px;
  display: block;
  width: 500px;
  background-image: url(./site-projectbox.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Project-Head {
  z-index:999;
  position:relative;
  margin: auto;
  text-align: center;
  height: 200px;
  display: block;
  width: 700px;
  background-image: url(./site-projectbox-h.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Project-Inner-Title {
  text-align: left;
  margin:auto;
  position: relative;
  font-size: 22px;
  top: 38px;
  left: 14px;
  height: 57%;
  width: 480px;
}

.App-Project-Inner-Body {
  text-align: left;
  position: relative;
  margin:auto;
  top: -40px;
  left: 14px;
  height: 57%;
  font-size: 13px;
  width: 480px;
}

.App-Project:hover {
  width: 525px;
  cursor: pointer;
}

.App-Project-Head:hover {
  cursor: pointer;
  width: 725px;
}

.App-Social {
  position:relative;
  z-index:999;
  margin:auto;
  width:500px;
  margin-bottom:100px;
}

.App-Social ul {
  padding: 0;
}

.App-Social li {
  
  list-style-type: none;
  display: inline-block;
}

.footer {
  margin-top: 175px;
  position: relative; 
  width: 960px; 
}

.github {
  width:100px;
  height:100px;
  background-image: url(./github-bold.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.linkedin {
  width:100px;
  height:100px;
  background-image: url(./linkedin-bold.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.resume {
  width:100px;
  height:100px;
  background-image: url(./resume-bold.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.photos {
  width:100px;
  height:100px;
  background-image: url(./photos-bold.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.soundcloud {
  width:100px;
  height:100px;
  background-image: url(./soundcloud-bold.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1199px) {
  .App-Diamond {
      left: -10%;
  }
  .App-Skateboard {
      right: -10%;
  }
}

@media (max-width: 1044px) {
  .App-Diamond {
      left: -15%;
  }
  .App-Skateboard {
      right: -15%;
  }
  .App-Creature {
      margin-left: 0;
      margin-right: 0;
      left: 0;
      right: 0;
  }
  .footer {
      margin-top:340px;
  }
}

@media (max-width: 965px) {
  .App-Diamond {
      display:none;
  }
  .App-Skateboard {
      display:none;
  }
}

@media (max-width: 695px) {
  .App-BigBox {
      margin-top:30px;
  }
  .App-Project-Head {
      z-index:999;
      position:relative;
      margin: auto;
      text-align: center;
      height: 200px;
      display: block;
      width: 500px;
      background-image: url(./site-projectbox.png);
      background-size: contain;
      background-repeat: no-repeat;

  }
  .App-Project-Head:hover {
      width: 525px;
      cursor: pointer;
  }
}

@media (max-width: 500px) {
  .App-Project-Head, .App-Project {
      width: 100%;
  }
  .App-Project-Head:hover, .App-Project:hover {
      width: 100%;
  }
  .App-Project-Inner-Title {
      font-size: 4vw;
  }
  .App-Project-Inner-Body {
      width:95%;
      font-size: 2.5vw;
  }
  .App-BigBox {
      width:400px;
      height:400px;
  }
  .App-Social {
      width:100%;
  }
  .App-Social li {
      margin-left: 10px;
      margin-right: 10px;
  }
  .App-Creature {
      height: 300px;
      width: 425px;
      background-size: 83%;
  }
  .footer {
      margin-top:200px;
  }
}

@media (max-width: 400px) {
  .App-BigBox {
      width:350px;
      height:350px;
  }
}
